@charset "utf-8";
/*header*/
.header{background-color: #fff;position: relative;border: none;z-index: 3;}
.header:after{content: ''; position: absolute;top: 0;left: 0;border-bottom: 1px solid #ddd;-webkit-box-sizing: border-box;box-sizing: border-box;width: 200%;height: 200%;-webkit-transform: scale(0.5);transform: scale(0.5);-webkit-transform-origin: left top;transform-origin: left top;z-index: -1;}
.head_code,.head_search,.head_news{display: inline-block;}
.header img{display: block;}
.head_code img,.head_news img{width: 1.875rem;height: 1.875rem;margin-top: .5rem;}
.head_search{width: 74%;}
.head_search{position: relative;}
.head_search input[type=search]{width: 100%;height: 2rem;line-height: 1.7rem;margin-top: .5rem;border-radius: .5rem;border: none;background: url(../img/jd/icon_10_03.png) no-repeat .3125rem center #eef2f3;background-size: .9375rem .9375rem;padding: 0 1.5rem;}
.head_search input[type=button]{border: none;width: .9375rem;height: .9375rem;background: url(../img/jd/icon_11_03.png) no-repeat center;background-size: .75rem .9375rem;position: absolute;top: 1rem;right: .375rem;}
/**/
#content{display: -webkit-box;display: -moz-box;display: box;-webkit-box-orient: horizontal;overflow: hidden;}
.classify_list{width: 24%;height: 100%;text-align: center;overflow-x: scroll;-webkit-box-flex: 1;box-flex: 1;}
.classify_list li{width: 100%;height: 3rem;line-height: 3rem;font-size: .875rem;border-top: 1px solid #e5e3e4;border-right: 1px solid #e5e3e4;background-color: #fff;}
.classify_list li.active{background: none;border: none;}
.classify_list li.active a{color: #f1524f;}
.classify_content{width: 76%;height: 100%;padding-top: .625rem;overflow-x: scroll;-webkit-box-flex: 1;box-flex: 1;}
.activity img{width: 100%;display: block;}
.classify_title{font-size: .875rem;line-height: 3rem;line-height: 3rem;}
.classify_group_con{text-align: center;background-color: #fff;padding: .5rem 0;}
.classify_group_con li{float: left;width: 33.3%;height: 6.6rem;font-size: .75rem;}
.classify_group_con li img{width: 80%;display: inline-block;}
.classify_group_con li p{line-height: 1.25rem;height: 2.5rem;padding: 0 .1875rem;m}
.classify_more li p{height: 1.25rem !important;}






